.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: rgb(49, 49, 49);
  border-radius: 20px;
  width: 80vw;
  height: 70vh;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  padding: 20px;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: red;
  cursor: pointer;
}

.close-modal-btn:hover {
  color: rgb(184, 0, 0);
}

.modal-poster {
  height: 300px;
}

.trailer-btn {
  cursor: pointer;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: transparent;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  height: 50%;
  width: 50%;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
}

.trailer-btn:hover {
  background-color: rgb(29, 29, 29);
}

.modal-text {
  color: white;
}

.modal-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
}
